<div>
  <%= form_tag '/repo', remote: true, method: 'get' do %>
    <%= label_tag "github user" %>
    <%= text_field_tag :github_user %>
    <%= label_tag "github repo" %>
    <%= text_field_tag :github_repo %>
    <%= submit_tag "Search" %>
  <% end %> 
</div>

<h1 id="repo-title"><%= @repo.repo_name %></h1>

<% @gemm.each do |gem| %> 

Name: <%= gem.name %>
Downloads: <%=gem.downloads %>
Updated_at: <%= gem.updated_at %>
Downloads: <%= gem.downloads %>
Version: <%= gem.version %>
Project_url: <%= gem.project_url %>
Real_name: <%= gem.real_name %> 
Version_downloads: <%= gem.version_downloads %>
Gem_uri: <%= gem.gem_uri %> 
Homepage_uri: <%= gem.homepage_uri %> 
Wiki_uri: <%= gem.wiki_uri %>
Mailing_list_uri: <%= gem.mailing_list_uri %>
Source_code_uri: <%= gem.source_code_uri %>
Bug_tracker_uri: <%= gem.bug_tracker_uri %> 
<% end %> 
