<div>
  <%= form_tag '/repo', remote: true, method: 'get' do %>
    <%= label_tag "github user" %>
    <%= text_field_tag :github_user %>
    <%= label_tag "github repo" %>
    <%= text_field_tag :github_repo %>
    <%= submit_tag "Search" %>
  <% end %> 
</div>

<h1 id="repo-title"><%= @repo.repo_name %></h1>

<% @gemm.each do |gem| %> 

<%= gem.name %>
<%=gem.d
<% end %> 
