
<div class="gem" id='gem-<%= gemm.id %>'>

	<div>		<h2>		Name: <%= gemm.name %> </h2></div>
			<div>				Downloads: <%=gemm.downloads %> </div>
			<div>				Updated_at: <%= gemm.updated_at %> </div>
			<div>				Downloads: <%= gemm.downloads %> </div>
			<div>				Version: <%= gemm.version %> </div>
			<div>				Project_url: <%= gemm.project_url %> </div>
			<div>				Real_name: <%= gemm.real_name %> </div>
				<div>			Version_downloads: <%= gemm.version_downloads %> </div>
				<div>			gemm_uri: <%= gemm.gem_uri %>  </div>
				<div>			Homepage_uri: <%= gemm.homepage_uri %> </div>
					<div>		Wiki_uri: <%= gemm.wiki_uri %> </div>
					<div>		Mailing_list_uri: <%= gemm.mailing_list_uri %> </div>
					<div>		Source_code_uri: <%= gemm.source_code_uri %> </div>
					<div>		Bug_tracker_uri: <%= gemm.bug_tracker_uri %>  </div>
		</div>

  <div class="gem-resources">
    <h3>Resources</h3>
    <%#= render partial: "resources/resource", collection: gemm.resources %>
  </div>
  <div class="resource-form">
    <%= form_for gemm.resources.build, url: create_resource_path, remote: true do |f| %>
    <%#= f.hidden_field :gemm_id, value: gemm.id %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit "New Link" %>
    <% end %>
  </div>
</div> 
